body 
{color: lightcoral; 
background-color: lightcyan;
}
font-family: 'Abril Fatface', cursive;
h1 {color:mediumaquamarine; background-color: antiquewhite}
h2 {color:antiquewhite;}
a {color:rosybrown;}
font-family: 'Abril Fatface', cursive;