body{
color: lightcoral; 
background-color: lightcyan;
font-family: 'Lumanosimo', cursive;
}

h1 {
    color:mediumaquamarine; background-color: antiquewhite; font-family: 'Lumanosimo', cursive;
}
h2 {
    color:antiquewhite; font-family: 'Lumanosimo', cursive;
}
a {
    color:rosybrown; font-family: 'Lumanosimo', cursive;
}
nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: antiquewhite;
}
nav a {color: rgb(87, 19, 19);}
nav {color:rgb(87, 19, 19);} 
nav a:hover {background-color: white;}
div {
    border: 1px solid mediumaquamarine;
    margin:30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}
